<!DOCTYPE html>
<!--
    Copyright (c) 2012-2014 Adobe Systems Incorporated. All rights reserved.

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="js/angular.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jQuery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/firebase.js"></script>
    <script src="js/angularjsfire.js"></script>

    <title>Chatter</title>
</head>
<body>
<div class="app" ng-app="CPB_Chat" ng-controller="CPB_Chat_Ctrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span style="height:100%;" ng-class="{'green_font': posFlag}"
                          class="glyphicon glyphicon-map-marker"
                          aria-hidden="true"></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="collapse"
                           data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ng-show="isChat"
                           ng-click="isChat = !isChat">Options</a></li>
                    <li><a data-toggle="collapse"
                           data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ng-hide="isChat"
                           ng-click="isChat = !isChat">Chat</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div ng-show="isChat" class="row">

        <ul>
            <li style="list-style-type: none;" ng-repeat="message in messages">
                <div class="bubble">
                    <p>{{message.body}}</p>
                    <img data-ng-src="data:image/png;base64,{{message.photo}}"/>
                </div>
                <span ng-style="{'color': message.color}">{{message.person}}</span>
            </li>
        </ul>
    </div>
    <div ng-hide="isChat" class="row">
        <div class="form-group col-md-12">
            <label for="personInput">Person</label>
            <input id="personInput" class="form-control" type="text" ng-change="saveUserData()"
                   ng-model="person">
            <label for="colorInput">Color</label>
            <select id="colorInput" class="form-control" ng-model="color" ng-change="saveUserData()"
                    type="text">
                <option>blue</option>
                <option>green</option>
                <option>red</option>
                <option>yellow</option>
                <option>grey</option>
                <option>black</option>
                <option>orange</option>
                <option>purple</option>
            </select>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="input-group">
            <input ng-model="newMessage" type="text" class="form-control" aria-label="...">
            <div class="input-group-btn">
                <button ng-click="createPhotoMessage()" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                </button>
                <button ng-click="createMessage()" type="button" class="btn btn-default" aria-label="Left Align">
                    Send
                </button>
                <button ng-click="createMessage(null, true)" type="button" class="btn btn-primary" aria-label="Left Align">
                    Twittern
                </button>

            </div>
        </div>
    </nav>
    <img src="img/move.png" height="50px" width="50px" class="move_pic"/>

</div>
<script src="js/controller.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
    app.initialize();
</script>
</body>
</html>
