body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.red_font {
    color: red;
}

.green_font {
    color: green;
}

.move_pic {
    position: fixed;
    left: 45%;
    top: 45%;
    opacity: 0;
    -webkit-animation-name: move; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: move;
    animation-duration: 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes move {
    16% {
        position: fixed;
        left: 45%;
        top: 45%;
        opacity: 1;
    }
    32% {
        position: fixed;
        left: 55%;
        top: 45%;
        opacity: 1;
    }
    48% {
        position: fixed;
        left: 55%;
        top: 55%;
        opacity: 1;
    }
    64% {
        position: fixed;
        left: 45%;
        top: 55%;
        opacity: 1;
    }
    80% {
        position: fixed;
        left: 45%;
        top: 45%;
        opacity: 1;
    }
    96% {
        position: fixed;
        left: 45%;
        top: 45%;
        opacity: 0;
    }
}

/* Standard syntax */
@keyframes move {
    16% {
        position: fixed;
        left: 45%;
        top: 45%;
        opacity: 1;
    }
    32% {
        position: fixed;
        left: 55%;
        top: 45%;
        opacity: 1;
    }
    48% {
        position: fixed;
        left: 55%;
        top: 55%;
        opacity: 1;
    }
    64% {
        position: fixed;
        left: 45%;
        top: 55%;
        opacity: 1;
    }
    80% {
        position: fixed;
        left: 45%;
        top: 45%;
        opacity: 1;
    }
    96% {
        position: fixed;
        left: 45%;
        top: 45%;
        opacity: 0;
    }
}

.bubble {
    position: relative;
    padding: 15px;
    margin-top: 20px;
    background: #FFFFFF;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: #0577F1 solid 3px;
    width: 80%;
    display: inline-block;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 0 12px 11px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -11px;
    top: 9px;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 14px 0 14px 13px;
    border-color: transparent #0577F1;
    display: block;
    width: 0;
    z-index: 0;
    right: -16px;
    top: 7px;
}